body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  hr.dashed {
    border-top: 3px dashed #bbb;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }